<div class="endorsement-card-wrap-ipad">
  <div class="endorsement-title-ipad">
    <p>Endorsements</p>
  </div>
  <div class="endorsements-wrap-ipad">
  <div class="endorsement-card-ipad">
    <div class="endorsement-card-inner-ipad">
      <div class="endorsement-card-photo-wrap-ipad">
          <div class="endorse-photo"><%= image_tag('Ken 2C', width: '100%', height: '100%') %>
          <div class="endorse-logo"><%= image_tag('tos', width: '100%', height: '100%') %>
          </div>
      </div>
      </div>
      <div class="endorsement-card-content-wrap-ipad">
          <div class="endorse-name-ipad">
            <p>Kenneth A. Davidson</p> 
            <p>Former Executive Director at Temple Oheb Shalom in Baltimore, Maryland.</p>
          </div>
          <div class="endorse-quote-ipad">
            <p>"The system significantly increases the coverage of our existing systems and enables us to secure more area without increasing our staff."<p>
          </div>
      </div>
    </div>
  </div>


  <div class="endorsement-card-ipad">
    <div class="endorsement-card-inner-ipad">
      <div class="endorsement-card-photo-wrap-ipad">
          <div class="endorse-photo"><%= image_tag('Neil 2C', width: '100%', height: '100%') %>
          <div class="endorse-logo"><%= image_tag('tedco', width: '100%', height: '100%') %>
          </div>
      </div>
      </div>
      <div class="endorsement-card-content-wrap-ipad">
          <div class="endorse-name-ipad">
            <p>Neil Davis</p> 
            <p>Former Sr. Director, Entrepreneurial Initiatives at TEDCO, the Maryland Technology Development Corporation.</p>
          </div>
          <div class="endorse-quote-ipad">
            <p>"It's the most innovative video surveillance product brought to market in the past ten years."<p>
          </div>
      </div>
    </div>
  </div>


  <div class="endorsement-card-ipad">
    <div class="endorsement-card-inner-ipad">
      <div class="endorsement-card-photo-wrap-ipad">
          <div class="endorse-photo"><%= image_tag('Mike 2C', width: '100%', height: '100%') %>
          <div class="endorse-logo"><%= image_tag('nec big', width: '100%', height: '100%') %>
          </div>
      </div>
      </div>
      <div class="endorsement-card-content-wrap-ipad">
          <div class="endorse-name-ipad">
            <p>Michael J. Mackesy</p> 
            <p>Engineering Manager/Sr. Security Practice Manager</p>
          </div>
          <div class="endorse-quote-ipad">
            <p>"The product is so unique and forward-thinking - one would swear it is something out of the movie studios."<p>
          </div>
      </div>
    </div>
  </div>


</div>



</div>
