<div class="endorse-container">
  <div id='section-header'><p>Endorsements</p></div>

<div class="endorse-card">
  <div class="endorse-photo"><%= image_tag('ken-davidson', width: '100%', height: '100%') %>
  </div>
  <div class="endorse-card-content">
    <div class="endorse-name">
      <h4>Kenneth A. Davidson - Former Executive Director at Temple Oheb Shalom in Baltimore, Maryland.</h4>
    </div>
    <div class="endorse-content">
      <div class="endorse-quote">
        <h3>"The system significantly increases the coverage of our existing systems and enables us to secure more area without increasing our staff."</h3>
      </div>
    </div>

    </div>
    <div class="endorse-logo"><%= image_tag('tos', width: '100%', height: '100%') %>
  </div>

</div>


<div class="endorse-card">
  <div class="endorse-photo"><%= image_tag('neil-davis', width: '100%', height: '100%') %>
  </div>
  <div class="endorse-card-content">
    <div class="endorse-name">
      <h4>Neil Davis -Former Sr. Director, Entrepreneurial Initiatives at TEDCO, the Maryland Technology Development Corporation.</h4>
    </div>
    <div class="endorse-content">
      <div class="endorse-quote">
        <h3>"It's the most innovative video surveillance product brought to market in the past ten years."</h3>
      </div>
    </div>

  </div>
  <div class="endorse-logo"><%= image_tag('tedco', width: '100%', height: '100%') %>

  </div>
</div>
<div class="endorse-card">
  <div class="endorse-photo">
    <%= image_tag('mike-mackesy', width: '100%', height: '100%') %>

  </div>
  <div class="endorse-card-content" style="">
    <div class="endorse-name">
      <h4>Michael J. Mackesy - Engineering Manager/Sr. Security Practice Manager</h4>
    </div>
    <div class="endorse-content">
      <div class="endorse-quote">
        <h3>"The product is so unique and forward-thinking - one would swear it is something out of the movie studios."</h3>
      </div>
    </div>

  </div>
  <div class="endorse-logo"><%= image_tag('nec', width: '100%', height: '100%') %>

  </div>
</div>

</div>

