<div class="temp-back" style="background-color: #F9F9F9;">
<div class="container">
  <div class="contact-form-wrap">
      <div id="contact-us-header">
        <p style="font-size: 32px;color: #183B56;">Contact Us</p>
      </div>
      <div class="contact-form">
        <div class="contact-form-inner">
          <%= simple_form_for(@query) do |f| %>
          <%= f.input :full_name, placeholder: 'full name'  %>
          <%= f.input :email, placeholder: 'email' %>
          <%= f.input :phone, placeholder: 'phone'  %>
          <%= f.input :company, placeholder: 'company'  %>
          <div class="before-submit-content">
            <p>
              By submitting your information, you agree to our use of your information to contact you.
            </p>
            <p>
              Or call +1-480-329-4705 or email us info@liquidvideo360.com 
            </p>
            <p>
              We look forward to speaking with you!
            </p>
          </div>
            
            <div class="contact-submit-wrap">
            <%= f.submit 'Submit', id: 'contact-submit' %>
            </div>
          <% end %>
        </div>
      </div>
  </div>
</div>
</div>
