
<div class="blue-banner" style="background: #08213D;height: 75px;"></div>
<!-- <div class="container"> -->
    <div class="main-faq">
    <div class="faq-wrap" style="margin: 100px 0px 135px 0px;">
      <div class="faq-header">
        <p id='title-sub-header'>
          Frequently Asked Questions
        </p>
      </div>
      <div class="faq-card">
        <div class="faq-q">
          <p>Will we have to buy new cameras or equipment?</p>
          <div id="icons">
             <%= image_tag 'plus-icon.png', id: 'plus-icon'%>
             <%= image_tag 'minus-icon.png', id: 'minus-icon', style: "display: none;" %>
          </div>
        </div> 
      <div class="faq-a">
        <p>
          While there is some computing hardware needed for the system, nothing has to be replaced in your existing surveillance 
          infrastructure and old analog cameras are fine as well.
         </p>
      </div>
    </div>
    <div class="faq-card">
      <div class="faq-q">
        <p>How long does it take to set up?</p>    
          <div id="icons">
             <%= image_tag 'plus-icon.png', id: 'plus-icon'%>
             <%= image_tag 'minus-icon.png', id: 'minus-icon', style: "display: none;" %>
        </div>
      </div> 
      <div class="faq-a">
        <p>
          About two weeks.
         </p>
      </div>
    </div>
    <div class="faq-card">
      <div class="faq-q">
        <p>What will we have to provide to use the system?</p>
        <div id="icons">
               <%= image_tag 'plus-icon.png', id: 'plus-icon'%>
               <%= image_tag 'minus-icon.png', id: 'minus-icon', style: "display: none;" %>
      </div>
      </div> 
      <div class="faq-a">
      <p>
         We’d need the following information:
      </p>
        <ol >
           <li>   • The location’s GPS coordinates.</li>
           <li>   • Floor plans or schematics of the site’s structures.</li>
           <li>   • The locations of the fixed cameras within these floor plans.</li>
           <li>   • RTSP addresses of the cameras’ video feeds.</li>
        </ol>
     </div>
    </div>
    <div class="faq-card">
      <div class="faq-q">
        <p>Does your system support radar?</p>
        <div id="icons">
               <%= image_tag 'plus-icon.png', id: 'plus-icon'%>
               <%= image_tag 'minus-icon.png', id: 'minus-icon', style: "display: none;" %>
      </div>
    </div> 
    <div class="faq-a">
      <p>
        Yes. We’ve supplied our system in Baltimore with 2 radars, so it is probably the first school/community campus to be protected by radars - affordably. 
       </p>
    </div>
   </div>
    <div class="faq-card">
      <div class="faq-q">
        <p>Is the system difficult to use?</p>
        <div id="icons">
               <%= image_tag 'plus-icon.png', id: 'plus-icon'%>
               <%= image_tag 'minus-icon.png', id: 'minus-icon', style: "display: none;" %>
      </div>
    </div> 
    <div class="faq-a">
      <p>
       It’s completely intuitive and easy to use.
       </p>
     </div>
    </div>
    <div class="faq-card">
      <div class="faq-q">
        <p>Is it portable or does it have to stay in one room?</p>
        <div id="icons">
               <%= image_tag 'plus-icon.png', id: 'plus-icon'%>
               <%= image_tag 'minus-icon.png', id: 'minus-icon', style: "display: none;" %>
      </div>
     </div> 
     <div class="faq-a">
      <p>
       The tablet is completely portable, even beyond the site.
       </p>
      </div>
    </div>
    <div class="faq-card">
      <div class="faq-q">
        <p>Can police and fire use the system?</p>
        <div id="icons">
               <%= image_tag 'plus-icon.png', id: 'plus-icon'%>
               <%= image_tag 'minus-icon.png', id: 'minus-icon', style: "display: none;" %>
      </div>
      </div> 
    <div class="faq-a">
      <p>
      Yes! The system is designed so that anyone using it will completely understand the situation in minutes and be able to take decisive action.
       </p>
     </div>
   </div>
    <div class="faq-card">
      <div class="faq-q">
        <p> Does the system have a server?</p>
        <div id="icons">
               <%= image_tag 'plus-icon.png', id: 'plus-icon'%>
               <%= image_tag 'minus-icon.png', id: 'minus-icon', style: "display: none;" %>
      </div>
    </div> 
      <div class="faq-a">
        <p>
         Generally yes, depending on version and the type of the deployed devices within the site.
         </p>
      </div>
    </div>
    <div class="faq-card">
      <div class="faq-q">
        <p>  Do you also do private security consulting?</p>
        <div id="icons">
               <%= image_tag 'plus-icon.png', id: 'plus-icon'%>
               <%= image_tag 'minus-icon.png', id: 'minus-icon', style: "display: none;" %>
      </div>
    </div> 
    <div class="faq-a">
      <p>
        Certainly.
       </p>
    </div>
  </div>  
  <div class="faq-card">
      <div class="faq-q">
        <p>For which kind of properties is this system appropriate?</p>
        <div id="icons">
               <%= image_tag 'plus-icon.png', id: 'plus-icon'%>
               <%= image_tag 'minus-icon.png', id: 'minus-icon', style: "display: none;" %>
      </div>
    </div> 
    <div class="faq-a">
      <p>
       For a very wide variety of properties. From schools and community facilities, through commercial spaces and facilities and government buildings. Practically, any type of site that has to be monitored.
       </p>
    </div>
  </div>   
  <div class="faq-card">
      <div class="faq-q">
        <p> Is it possible to have more than one tablet?</p>
        <div id="icons">
               <%= image_tag 'plus-icon.png', id: 'plus-icon'%>
               <%= image_tag 'minus-icon.png', id: 'minus-icon', style: "display: none;" %>
      </div>
    </div> 
    <div class="faq-a">
      <p>
      With the proper data network - The system will support as many tablets as you would like.
       </p>
    </div>
  </div>   
  <div class="faq-card">
      <div class="faq-q">
        <p> Is the system secure? Won’t it create vulnerabilities for our system?</p>
        <div id="icons">
               <%= image_tag 'plus-icon.png', id: 'plus-icon'%>
               <%= image_tag 'minus-icon.png', id: 'minus-icon', style: "display: none;" %>
      </div>
    </div> 
    <div class="faq-a">
      <p>
      The system may work “under the hood” within your data network, so all your IT security suits will protect it.
       </p>
    </div>
  </div>
  <div class="faq-card">
       <div class="faq-q">
         <p> What about privacy concerns?</p>
         <div id="icons">
                <%= image_tag 'plus-icon.png', id: 'plus-icon'%>
                <%= image_tag 'minus-icon.png', id: 'minus-icon', style: "display: none;" %>
        </div>
     </div> 
     <div class="faq-a">
       <p>
       Privacy concerns are raised and dealt with during the installation of cameras. Our system does not raise any further concerns.
        </p>
     </div>
   </div>
   <div class="faq-card">
        <div class="faq-q">
          <p> How can our guards use this system?</p>
          <div id="icons">
                 <%= image_tag 'plus-icon.png', id: 'plus-icon'%>
                 <%= image_tag 'minus-icon.png', id: 'minus-icon', style: "display: none;" %>
        </div>
      </div> 
      <div class="faq-a">
        <p>
        Your guards can use this system as a force multiplier - it turns guards into super guards, being able to monitor the entire site from wherever they are, even out of the site.
         </p>
      </div>
    </div>
  <div class="faq-card">
       <div class="faq-q">
         <p> Do you have any certifications?</p>
         <div id="icons">
                <%= image_tag 'plus-icon.png', id: 'plus-icon'%>
                <%= image_tag 'minus-icon.png', id: 'minus-icon', style: "display: none;" %>
        </div>
     </div> 
     <div class="faq-a">
       <p>
       None is needed.
        </p>
     </div>
   </div>
   <div class="faq-card">
        <div class="faq-q">
          <p>  Do you have remote microphone capability to the facility to warn/threaten a suspect?</p>
          <div id="icons">
                 <%= image_tag 'plus-icon.png', id: 'plus-icon'%>
                 <%= image_tag 'minus-icon.png', id: 'minus-icon', style: "display: none;" %>
        </div>
      </div> 
      <div class="faq-a">
        <p>
        The system can be added with this functionality, we’d need to know the type of PA system you have in your site so we can integrate with it.
         </p>
      </div>
    </div>
  </div>
  <!-- </div> -->
</div>
