
<!-- <div id='faqModal'  data-visible='false' style="z-index: 99; position: fixed; top: 10px;width: 100%;height: 0px; display: none">
  <%# render 'queries/faq', query: @query %>
</div> -->

<div id='contactModal'  data-visible='false' style="z-index: 99; position: fixed; top: 10px;width: 100%;height: 0px; display: none">
  <%= render 'queries/form', query: @query %>
</div>

<div class="home-banner">
  <div class="banner-title">
    <h1>Get Superhero Vision To Secure Your Property</h1>
    <h3>Liquid Video Software Enables 3D and Virtual X-Ray Vision Capabilities Using Your Existing Security Video Cameras.</h3>
  </div>
  <!-- VIDEOPLAYER -->
  <div class="background-videoplayer">
    <video playsinline autoplay loop muted id="home-video">
      <source src="<%= image_path('liquidVideo_banner_video.mp4')%>" type="video/mp4" />
        Your browser does not support video
    </video>
  </div>
  <!-- VIDEOPLAYER -->

  <!-- BENEFITS -->
  <div class="read-about-banner">
      <div id='section-header'><p>Benefits</p></div>
    <!-- <h2>Advantages</h3> -->
     <!-- <p>Save a life, save a world. Every life is precious.</p> -->

    <!--  <p>Our software is based on decades of experience with real-life threats to entire communities. It dramatically lowers response time and offers a solution in real-time and 3D providing spatial context and geo-visual unifed display which provides actionable situational awareness for an accelerated proactive response for entering a threatened faclity.</p>

     <p>We strive to create, enable and empower first responders and local guards to ‘see’ their environments thoroughly - through walls and around corners - to dramatically reduce response time, reduce risk and save lives.</p>
 -->
    <p> Liquid Video uses your existing surveillance equipment to:</p>
    <ul>
      <li>Provide virtual 3D patrol experience of your property from anywhere.</li>
      <li>Make your control room fully portable and shareable on secure tablets.</li>
      <li>Enable emergency responders and local guards to take immediate action without building plans or prior knowledge of the property layout</li>
      <li>Reduce security costs by increasing personnel flexibility</li>
    </ul>

   <!--  <p>For First Responders:</p>
    <ul>
      <li>substantially reduces risk to emergency personnel by reducing unknowns</li>
      <li>eliminates need for site or building plans</li>
      <li>no prior knowledge of building needed for immediate & decisive action</li>
      <li>video content displayed in full context & is auto-oriented to the responder</li>
      <li>reduces collateral damage and shut down time, reducing man hours</li>
    </ul> -->

  </div>
<!-- BENEFITS -->

  <!-- ENDORSEMENTS -->
  <%   def mobile? # has to be in here because it has access to "request"
      request.user_agent =~ /\b(Android|iPhone|iPad|Windows Phone|Opera Mobi|Kindle|BackBerry|PlayBook)\b/i
   end %>

   <% if mobile? %>
    <%=  render 'queries/endorsement-mobile.html.erb' %>
   <% else %>
  <div class="endorse-container">
    <div id='section-header'><p>Endorsements</p></div>

    <div class="endorse-card">
      <div class="endorse-photo"><%= image_tag('ken-davidson', width: '100%', height: '100%') %>
      </div>
      <div class="endorse-card-content">
        <div class="endorse-name">
          <h4>Kenneth A. Davidson - Former Executive Director at Temple Oheb Shalom in Baltimore, Maryland.</h4>
        </div>
        <div class="endorse-content">
          <div class="endorse-quote">
            <h3>"The system significantly increases the coverage of our existing systems and enables us to secure more area without increasing our staff."</h3>
          </div>
          <div class="endorse-logo"><%= image_tag('tos', width: '100%', height: '100%') %>

          </div>
        </div>
      </div>

    </div>


    <div class="endorse-card">
      <div class="endorse-photo"><%= image_tag('neil-davis', width: '100%', height: '100%') %>
        <img src="" alt="">
      </div>
      <div class="endorse-card-content">
        <div class="endorse-name">
          <h4>Neil Davis -Former Sr. Director, Entrepreneurial Initiatives at TEDCO, the Maryland Technology Development Corporation.</h4>
        </div>
        <div class="endorse-content">
          <div class="endorse-quote">
            <h3>"It's the most innovative video surveillance product brought to market in the past ten years."</h3>
          </div>
          <div class="endorse-logo"><%= image_tag('tedco', width: '100%', height: '100%') %>

          </div>
        </div>
      </div>

    </div>
    <div class="endorse-card">
      <div class="endorse-photo">
        <%= image_tag('mike-mackesy', width: '100%', height: '100%') %>

      </div>
      <div class="endorse-card-content">
        <div class="endorse-name">
          <h4>Michael J. Mackesy - Engineering Manager/Sr. Security Practice Manager</h4>
        </div>
        <div class="endorse-content">
          <div class="endorse-quote">
            <h3>"The product is so unique and forward-thinking - one would swear it is something out of the movie studios."</h3>
          </div>
          <div class="endorse-logo"><%= image_tag('nec', width: '100%', height: '100%') %>

          </div>
        </div>
      </div>

    </div>
  </div>
  <% end %>
  <!-- ENDORSEMENTS -->

 <div class="info-container">
  <!-- INTRO TEXT -->
   <div class="intro-text-wrap">
     <div class="intro-text-inner">
       <p id="title-sub-header">LiquidVideo's experience includes designing the security system for the largest maximum security terrorist prison in Israel and for supervising the real-time detection systems of 25 of the most vulnerable towns in the country.</p>
     </div>
   </div>
  <!-- INTRO TEXT -->


  <!-- FEATURE CIRCLE -->
  <!--   <div class="feature-circle-wrap">
        <div class="feature-circle-inner">
          <%= image_tag('feature-circle', width: '100%', height: '100%') %>
        </div>
    </div> -->
  <!-- FEATURE CIRCLE -->






<!-- INDUSTRIES -->
<!-- <div class="industries-wrap">
  <div class="row industry-row">
 <div class="flip-card industry col-sm-4">
   <div class="flip-card-inner industry-inner">
     <div class="flip-card-front">
       <div class="industry-icon"><%= image_tag('transportation-image', width: '100%', height: '90%') %></div>
       <div class="industry-title"><p id='card-title'>Transportation</p></div>
     </div>
     <div class="flip-card-back">
        <p>Unleash the full power of your existing security technology </p>
     </div>
   </div>
 </div>

 <div class="flip-card industry col-sm-4">
   <div class="flip-card-inner industry-inner">
     <div class="flip-card-front">
       <div class="industry-icon"><%= image_tag('industrial-image', width: '100%', height: '90%') %></div>
       <div class="industry-title"><p id='card-title'>Industrial</p></div>
     </div>
     <div class="flip-card-back">
       <p>Augmented Reality Site Security</p>
     </div>
   </div>
 </div>

 <div class="flip-card industry col-sm-4">
   <div class="flip-card-inner industry-inner">
     <div class="flip-card-front">
       <div class="industry-icon"><%= image_tag('banking-image', width: '100%', height: '90%') %></div>
       <div class="industry-title"><p id='card-title'>Banking & Finance</p></div>
     </div>
     <div class="flip-card-back">
        <p>See through walls & around corners</p>
     </div>
   </div>
 </div>

 <div class="flip-card industry col-sm-4">
   <div class="flip-card-inner industry-inner">
     <div class="flip-card-front">
       <div class="industry-icon"><%= image_tag('commercial-image', width: '100%', height: '90%') %></div>
       <div class="industry-title"><p id='card-title'>Commercial Buildings</p></div>
     </div>
     <div class="flip-card-back">
       <p>Geo-Visual Unified Display</p>
     </div>
   </div>
 </div>

 <div class="flip-card industry col-sm-4">
   <div class="flip-card-inner industry-inner">
     <div class="flip-card-front">
       <div class="industry-icon"><%= image_tag('energy-image', width: '100%', height: '90%') %></div>
       <div class="industry-title"><p id='card-title'>Energy</p></div>
     </div>
     <div class="flip-card-back">
       <p>Actionable Situational Awareness</p>
     </div>
   </div>
 </div>

 <div class="flip-card industry col-sm-4">
   <div class="flip-card-inner industry-inner">
     <div class="flip-card-front">
       <div class="industry-icon"><%= image_tag('hospitality-image', width: '100%', height: '90%') %></div>
       <div class="industry-title"><p id='card-title'>Hospitality</p></div>
     </div>
     <div class="flip-card-back">
      <p>Accelerated Proactive response</p>
     </div>
   </div>
 </div>

 <div class="flip-card industry col-sm-4">
   <div class="flip-card-inner industry-inner">
     <div class="flip-card-front">
       <div class="industry-icon"><%= image_tag('government-image', width: '100%', height: '90%') %></div>
       <div class="industry-title"><p id='card-title'>Government & Defense</p></div>
     </div>
     <div class="flip-card-back">
        <p>not given</p>
     </div>
   </div>
 </div>

 <div class="flip-card industry col-sm-4">
   <div class="flip-card-inner industry-inner">
     <div class="flip-card-front">
       <div class="industry-icon"><%= image_tag('medical-image', width: '100%', height: '90%') %></div>
       <div class="industry-title"><p id='card-title'>Medical</p></div>
     </div>
     <div class="flip-card-back">
        <p>Low cost & Qualified for FEMA grants </p>
     </div>
   </div>
 </div>

 <div class="flip-card industry col-sm-4">
   <div class="flip-card-inner industry-inner">
     <div class="flip-card-front">
       <div class="industry-icon"><%= image_tag('education-image', width: '100%', height: '90%') %></div>
       <div class="industry-title"><p id='card-title'>Education</p></div>
     </div>
     <div class="flip-card-back">
      <p>not given</p>
     </div>
   </div>
 </div>
  </div>
</div> -->
<!-- INDUSTRIES -->
 </div>












