
<!-- <div id='faqModal'  data-visible='false' style="z-index: 99; position: fixed; top: 10px;width: 100%;height: 0px; display: none">
  <%# render 'queries/faq', query: @query %>
</div> -->

<div id='contactModal'  data-visible='false' style="z-index: 99; position: fixed; top: 10px;width: 100%;height: 0px; display: none">
  <%= render 'queries/contact-us', query: @query %>
</div>


<!-- HOMEBANNER -->

<% if mobile? || tablet? %>

<%= render 'partials/mobile-home-banner' %>

<% else %>

<div class="home-banner-wrap">
  <div class="banner-title">
    <h1>Get Superhero Vision To Secure Your Property</h1>
    <p>Liquid Video Software Enables 3D and Virtual X-Ray Vision Capabilities Using Your Existing Security Video Cameras.</p>
    <div class="quote-button-box">
    <%= link_to "Get A Quote", "#", class: "quote-button" %>
    </div>
  </div>
  <!-- <div class="vertical-line"></div> -->
  <!-- VIDEOPLAYER -->

    <div class="background-videoplayer">
      <div class="video-target-wrap">
        <div class="video-target video-target-top"></div>
         <div class="video-target video-target-right"></div>
         <div class="video-target video-target-bottom"></div>
         <div class="video-target video-target-left"></div>
        <video playsinline autoplay loop muted id="home-video">

          <source src="<%= image_path('liquidVideo_banner_video.mp4')%>" type="video/mp4" />
            Your browser does not support video
        </video>
      </div>
    </div>
  <!-- VIDEOPLAYER -->
  </div>

  <% end %>
<!-- HOMEBANNER -->

  <!-- BENEFITS -->
  <div class="benefits-banner">
      <div id='section-header'><p>Benefits</p></div>

    <p> Liquid Video uses your existing surveillance equipment to:</p>
    <ul>
      <li><span>Provide virtual 3D patrol experience of your property from anywhere.</span></li>
      <li><span>Make your control room fully portable and shareable on secure tablets.</span></li>
      <li><span>Enable emergency responders and local guards to take immediate action without building plans or prior knowledge of the property layout</span></li>
      <li><span>Reduce security costs by increasing personnel flexibility.</span></li>
    </ul>

  </div>
<!-- BENEFITS -->

<!-- EXPERIENCE TEXT -->
   <div class="experience-text-wrap">
    <div id='experience-header'><p>Elite Israeli Security Experience</p>
     <div class="experience-text-inner">
       <p>LiquidVideo's experience includes designing the security system for the largest maximum security terrorist prison in Israel and for supervising the real-time detection systems of 25 of the most vulnerable towns in the country.</p>
       <p>We work with virtually all security video and radar models either in pure video configurations or multi-sensor, integrated systems.</p>
     </div>
    </div>
   </div>
  <!-- EXPERIENCE TEXT -->

  <!-- ENDORSEMENTS -->
  <%#   def mobile? # has to be in here because it has access to "request"
      request.user_agent =~ /\b(Android|iPhone|iPad|Windows Phone|Opera Mobi|Kindle|BackBerry|PlayBook)\b/i
   end %>

  <!-- moved 'mobile?' method to queriesHelper -->
   <% if tablet? %> 
    <%#  render 'queries/endorsement-mobile.html.erb' %>
    <%=  render 'partials/endorsement-card-mobile.html.erb' %>
   <% else %>
  <div class="endorse-container">
    <div id='section-header'><p>Endorsements</p></div>
  
  <div class="endorsements-wrap-ipad">
    <div class="endorse-card">
      <div class="endorse-photo"><%= image_tag('Ken 2C', width: '100%', height: '100%') %>
      </div>
      <div class="endorse-card-content">
        <div class="endorse-name">
          <h4>Kenneth A. Davidson</h4>
          <h5>Former Executive Director at Temple Oheb Shalom in Baltimore, Maryland.</h5>
        </div>
        <div class="endorse-content">
          <div class="endorse-quote">
            <h3>"The system significantly increases the coverage of our existing systems and enables us to secure more area without increasing our staff."</h3>
          </div>
        </div>
        </div>
          <div class="endorse-logo"><%= image_tag('tos', width: '100%', height: '100%') %>

          </div>
    </div>


    <div class="endorse-card">
      <div class="endorse-photo"><%= image_tag('Neil 2C', width: '100%', height: '100%') %>
        <!-- <img src="" alt=""> -->
      </div>
      <div class="endorse-card-content">
        <div class="endorse-name">
          <h4>Neil Davis</h4>
          <h5>Former Sr. Director, Entrepreneurial Initiatives at TEDCO, the Maryland Technology<br>Development Corporation.</h5>
        </div>
        <div class="endorse-content">
          <div class="endorse-quote">
            <h3>"It's the most innovative video surveillance product brought to market in the past ten years."</h3>
          </div>
          </div>
      </div>
          <div class="endorse-logo"><%= image_tag('tedco', width: '100%', height: '100%') %>

          </div>

    </div>

    <div class="endorse-card">
      <div class="endorse-photo">
        <%= image_tag('Mike 2C', width: '100%', height: '100%') %>

      </div>
      <div class="endorse-card-content">
        <div class="endorse-name">
          <h4>Michael J. Mackesy</h4>
          <h5>Engineering Manager/Sr. Security Practice Manager</h5>
        </div>
        <div class="endorse-content">
          <div class="endorse-quote">
            <h3>"The product is so unique and forward-thinking - one would swear it is something out of the movie studios."</h3>
          </div>
          </div>
      </div>
          <div class="endorse-logo">
            <%= image_tag('nec big', width: '90%', height: '90%') %>

          </div>


    </div>
  </div>
  </div>
  <% end %>


  <!-- ENDORSEMENTS -->

 <div class="info-container">



  <!-- FEATURE CIRCLE -->
  <!--   <div class="feature-circle-wrap">
        <div class="feature-circle-inner">
          <%= image_tag('feature-circle', width: '100%', height: '100%') %>
        </div>
    </div> -->
  <!-- FEATURE CIRCLE -->






<!-- INDUSTRIES -->
<!-- <div class="industries-wrap">
  <div class="row industry-row">
 <div class="flip-card industry col-sm-4">
   <div class="flip-card-inner industry-inner">
     <div class="flip-card-front">
       <div class="industry-icon"><%= image_tag('transportation-image', width: '100%', height: '90%') %></div>
       <div class="industry-title"><p id='card-title'>Transportation</p></div>
     </div>
     <div class="flip-card-back">
        <p>Unleash the full power of your existing security technology </p>
     </div>
   </div>
 </div>

 <div class="flip-card industry col-sm-4">
   <div class="flip-card-inner industry-inner">
     <div class="flip-card-front">
       <div class="industry-icon"><%= image_tag('industrial-image', width: '100%', height: '90%') %></div>
       <div class="industry-title"><p id='card-title'>Industrial</p></div>
     </div>
     <div class="flip-card-back">
       <p>Augmented Reality Site Security</p>
     </div>
   </div>
 </div>

 <div class="flip-card industry col-sm-4">
   <div class="flip-card-inner industry-inner">
     <div class="flip-card-front">
       <div class="industry-icon"><%= image_tag('banking-image', width: '100%', height: '90%') %></div>
       <div class="industry-title"><p id='card-title'>Banking & Finance</p></div>
     </div>
     <div class="flip-card-back">
        <p>See through walls & around corners</p>
     </div>
   </div>
 </div>

 <div class="flip-card industry col-sm-4">
   <div class="flip-card-inner industry-inner">
     <div class="flip-card-front">
       <div class="industry-icon"><%= image_tag('commercial-image', width: '100%', height: '90%') %></div>
       <div class="industry-title"><p id='card-title'>Commercial Buildings</p></div>
     </div>
     <div class="flip-card-back">
       <p>Geo-Visual Unified Display</p>
     </div>
   </div>
 </div>

 <div class="flip-card industry col-sm-4">
   <div class="flip-card-inner industry-inner">
     <div class="flip-card-front">
       <div class="industry-icon"><%= image_tag('energy-image', width: '100%', height: '90%') %></div>
       <div class="industry-title"><p id='card-title'>Energy</p></div>
     </div>
     <div class="flip-card-back">
       <p>Actionable Situational Awareness</p>
     </div>
   </div>
 </div>

 <div class="flip-card industry col-sm-4">
   <div class="flip-card-inner industry-inner">
     <div class="flip-card-front">
       <div class="industry-icon"><%= image_tag('hospitality-image', width: '100%', height: '90%') %></div>
       <div class="industry-title"><p id='card-title'>Hospitality</p></div>
     </div>
     <div class="flip-card-back">
      <p>Accelerated Proactive response</p>
     </div>
   </div>
 </div>

 <div class="flip-card industry col-sm-4">
   <div class="flip-card-inner industry-inner">
     <div class="flip-card-front">
       <div class="industry-icon"><%= image_tag('government-image', width: '100%', height: '90%') %></div>
       <div class="industry-title"><p id='card-title'>Government & Defense</p></div>
     </div>
     <div class="flip-card-back">
        <p>not given</p>
     </div>
   </div>
 </div>

 <div class="flip-card industry col-sm-4">
   <div class="flip-card-inner industry-inner">
     <div class="flip-card-front">
       <div class="industry-icon"><%= image_tag('medical-image', width: '100%', height: '90%') %></div>
       <div class="industry-title"><p id='card-title'>Medical</p></div>
     </div>
     <div class="flip-card-back">
        <p>Low cost & Qualified for FEMA grants </p>
     </div>
   </div>
 </div>

 <div class="flip-card industry col-sm-4">
   <div class="flip-card-inner industry-inner">
     <div class="flip-card-front">
       <div class="industry-icon"><%= image_tag('education-image', width: '100%', height: '90%') %></div>
       <div class="industry-title"><p id='card-title'>Education</p></div>
     </div>
     <div class="flip-card-back">
      <p>not given</p>
     </div>
   </div>
 </div>
  </div>
</div> -->
<!-- INDUSTRIES -->
 </div>

 <%= render 'queries/home-dropdown' %>
  <div class="statement-wrap">
    <div class="statement">
      <p>Make Your Control Room Smart & Portable</p>
    </div>
  </div>
</div>












